#crxm-root {
  width: 30%;
  height: 500px;
  top: 20px;
  left: 20px;
  position: fixed;
  background: #1a1717;
  border-radius: 10px;
  z-index: 999;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #fff;
  }

  .title {
    margin: 0;
    font-size: 42px;
    font-weight: 600;
    color: #fff;
  }

  .count-up {
    background: #9789e0;
    color: #1d1838;
    font-size: 14px;
    border: none;
    padding: 12px 16px;
    border-radius: 100px;
    cursor: pointer;
  }

  .counter {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
  }
}
